body {
    border: 1px solid blue;
}

#container {
    display: grid;  
    max-width: 1200px;
    margin: auto;
}

.grid-cell {
    background-color: hsl(180, 32%, 41%);
}

.controls {
    margin: auto;
    text-align: center;
}