body {
    border: 1px solid blue;
}

#container {
    display: grid;    
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    max-width: 1200px;
}

#container > * {
    text-align: center;
    border: 1px solid red;
}